/* rem and em do NOT depend on html font-size in media queries!
Instead, 1rem = 1em = 16px -> Default font size
rem - root font size
em - current font size - use this because rem has bugs in some browsers
*/

/***********************************/
/* Below 1344px (smaller desktops) */
/***********************************/
@media (max-width: 84em) {
  .container {
    max-width: 120rem;
  }

  .heading-primary {
    font-size: 5.6rem;
  }

  .heading-primary-description {
    font-size: 1.6rem;
  }
}

/***********************************/
/* Below 1200px (Landscape Tablets) */
/***********************************/
@media (max-width: 75em) {
  /* 9px / 16px */
  html {
    font-size: 56.25%;
  }

  .about-details-2 h3 {
    font-size: 3.6rem;
  }

  .skills {
    font-size: 2rem;
  }

  .grid,
  .grid-approach-section {
    gap: 4.8rem;
  }

  .grid-col-sm {
    column-gap: 3.2rem;
  }
}

/* Font Size */
/* 10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98 */

/*
- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/
